# 读写文本格式的数据

In [32]:
!type C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [33]:
from pandas import DataFrame, Series
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [34]:
df = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [35]:
df = pd.read_table(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex1.csv',sep = ',')

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [36]:
!type C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [41]:
pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex2.csv',header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [42]:
pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [43]:
# 假设希望将message列做成DataFrame的索引，可以明确表示将该列放到索引4的位置上。也可以通过index_col参数指定“message”
names = ['a','b','c','d','message']
pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [45]:
# 如果希望将多个列做成一个层次化索引，只需要传入由列编号或列名组成的列表即可
! type C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [47]:
parsed = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\csv_mindex.csv', index_col=['key1','key2'])

In [48]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [50]:
# 对于不是固定的分隔符来分割字段的，可以编写正则表达式来作为read_table的分隔符
list(open(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex3.csv'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491']

In [53]:
result = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [55]:
!type C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [56]:
# skiprows可以跳过文件的第一行、第三行、第四行等
pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [57]:
!type C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [59]:
result = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [60]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [62]:
# na_values 可以接受一组用于表示缺失值的字符串
result = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [63]:
# 可以用一个字典为各列指定不同的NA标记值
sentinels = {'message':['foo','NA'], 'something':['two']}
pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

# 逐块读取文本文件

In [ ]:
# 在处理很大文件的时候，或者找出大文件中的参数以便于后续处理的时候，可能只想读出文件的一部分或者逐块对文件进行迭代

In [64]:
result = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex6.csv')

In [66]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [68]:
result = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex6.csv', nrows = 5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [69]:
chunker = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex6.csv', chunksize = 1000)
chunker

In [70]:
chunker = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex6.csv', chunksize = 1000)

In [76]:
tot = Series([])
for piece in chunker:
    tot = tot.append(piece['key'].value_counts())

In [77]:
tot[:10]

Series([], dtype: float64)

In [78]:
a = Series([1])

In [79]:
b = Series([2])

In [80]:
a.add(b)

0    3
dtype: int64

In [81]:
a+b

0    3
dtype: int64

In [82]:
a.append(b)

0    1
0    2
dtype: int64

# 将数据写出到文本格式

In [84]:
data = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [88]:
data.to_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\out.csv')

In [89]:
!type ch06.out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [90]:
data.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [91]:
data.to_csv(sys.stdout, na_rep = 'Null')

,something,a,b,c,d,message
0,one,1,2,3.0,4,Null
1,two,5,6,Null,8,world
2,three,9,10,11.0,12,foo

In [92]:
data.to_csv(sys.stdout, index = False, header = False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [95]:
data.to_csv(sys.stdout, index = False, columns = ['a', 'b', 'c']) #cols换为cloumns!

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [96]:
#Series也有to_csv的方法
dates = pd.date_range('1/1/2000', periods=7)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [102]:
ts = DataFrame(np.arange(7), index=dates)

In [103]:
ts.to_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\tseries.csv')

In [105]:
!type C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\tseries.csv

,0
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [110]:
DataFrame.from_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\tseries.csv', parse_dates=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

            0
2000-01-01  0
2000-01-02  1
2000-01-03  2
2000-01-04  3
2000-01-05  4
2000-01-06  5
2000-01-07  6

# 手工处理分隔符格式

In [111]:
!type C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [112]:
import csv

In [113]:
f = open(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex7.csv')

In [114]:
reader = csv.reader(f)

In [117]:
# 很明显得到的是一个列表，而不是元祖
for line in reader: 
    print (line) #改版后print line要加括号！

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [118]:
lines = list(csv.reader(open(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex7.csv')))

In [119]:
header, values = lines[0], lines[1:]

In [120]:
data_dict = {h : v for h,v in zip(header, zip(*values))}

In [121]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [122]:
class my_dialect(csv.Dialect):
    lineterminator  = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = 0

In [123]:
with open('mydata.csv','w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [125]:
!type mydata.csv

one;two;three
1;2;3
4;5;6
7;8;9

# JSON数据

In [126]:
obj = """
{
    "name" : "Wes",
    "places_lived" : ["United states", "Spain", "Germany"],
    "pet" : null,
    "siblings" : [{"name" : "Scott", "age" :25, "pet" : "Zuko"},
                    {"name" : "Katie", "age" : 33, "pet" : "Cisco"}]
}
"""

In [128]:
import json

In [129]:
result = json.loads(obj)

In [130]:
result

{'name': 'Wes',
 'places_lived': ['United states', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [131]:
asjson = json.dumps(result)

In [132]:
asjson

'{"name": "Wes", "places_lived": ["United states", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}, {"name": "Katie", "age": 33, "pet": "Cisco"}]}'

In [133]:
#JSON转DataFrame
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

# XML和HTTP: Web信息收集

In [136]:
from lxml.html import parse
from urllib.request import urlopen

In [141]:
parsed = parse(urlopen('https://finance.yahoo.com/quote/AAPL/options?ltr=1'))
doc = parsed.getroot()
links = doc.findall('.//a')
links[15:20]

[<Element a at 0x97bee08>,
 <Element a at 0x97be048>,
 <Element a at 0x97be098>,
 <Element a at 0x97be0e8>,
 <Element a at 0x97be138>]

In [139]:
lnk = links[28]

In [140]:
lnk

In [142]:
lnk.get('href')

'/quote/AAPL190628C00160000?p=AAPL190628C00160000'

In [143]:
lnk.text_content()

'AAPL190628C00160000'

In [144]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [150]:
urls[-20:-10]

['https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US&id=SLN2310',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'https://finance.yahoo.com/sitemap/',
 'http://twitter.com/YahooFinance',
 'http://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

In [151]:
tables = doc.findall('.//table')

In [153]:
tables

In [158]:
calls = tables[1]

In [159]:
puts = tables[1]

In [160]:
rows = calls.findall('.//tr')

In [161]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [162]:
_unpack(rows[0], kind ='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [164]:
_unpack(rows[1], kind='td')

['AAPL190628P00130000',
 '2019-06-03 3:37PM EDT',
 '130.00',
 '0.19',
 '0.00',
 '0.00',
 '0.00',
 '-',
 '5',
 '0',
 '100.00%']

In [165]:
from pandas.io.parsers import TextParser

In [166]:
def parse_options_data(table):
    rows = table.findall('.//tr')
    hearder = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, name=header).get_chunk()

In [167]:
call_data = parse_options_data(calls)

In [169]:
call_dataput_data = parse_options_data(puts)

In [170]:
call_data

,AAPL190628P00130000,2019-06-03 3:37PM EDT,130.00,0.19,0.00,0.00.1,0.00.2,-,5,0,100.00%
0,AAPL190628P00131000,2019-06-10 11:58AM EDT,131.0,0.02,0.00,0.00,0.0,-,1,0,100.00%
1,AAPL190628P00132000,2019-06-07 3:37PM EDT,132.0,0.03,0.00,0.00,0.0,-,1,0,50.00%
2,AAPL190628P00133000,2019-05-24 12:51PM EDT,133.0,0.18,0.00,0.03,0.0,-,1,0,271.88%
3,AAPL190628P00134000,2019-06-07 11:05AM EDT,134.0,0.07,0.00,0.00,0.0,-,-,0,50.00%
4,AAPL190628P00135000,2019-06-13 11:12AM EDT,135.0,0.01,0.00,0.00,0.0,-,6,0,50.00%
5,AAPL190628P00137000,2019-05-31 1:11PM EDT,137.0,0.26,0.00,0.00,0.0,-,-,0,50.00%
6,AAPL190628P00138000,2019-06-11 2:17PM EDT,138.0,0.03,0.00,0.00,0.0,-,30,0,50.00%
7,AAPL190628P00139000,2019-06-11 10:23AM EDT,139.0,0.03,0.01,0.00,0.0,-,1,0,225.00%
8,AAPL190628P00140000,2019-06-14 10:09AM EDT,140.0,0.03,0.01,0.00,0.0,-,5,0,218.75%
9,AAPL190628P00141000,2019-06-19 9:59AM EDT,141.0,0.01,0.00,0.00,0.0,-,1,0,50.00%
10,AAPL190628P00142000,2019-06-11 12:46PM EDT,142.0,0.03,0.00,0.00,0.0,-,1,0,50.00%
11,AAPL190628P00143000,2019-06-13 2:04PM EDT,143.0,0.02,0.00,0.00,0.0,-,1,0,50.00%
12,AAPL190628P00144000,2019-06-21 3:29PM EDT,144.0,0.01,0.00,0.00,0.0,-,1,0,50.00%
13,AAPL190628P00145000,2019-06-12 2:38PM EDT,145.0,0.04,0.00,0.00,0.0,-,1,0,50.00%
14,AAPL190628P00146000,2019-06-17 12:11PM EDT,146.0,0.01,0.00,0.00,0.0,-,10,0,50.00%
15,AAPL190628P00147000,2019-06-18 2:52PM EDT,147.0,0.02,0.00,0.00,0.0,-,2,0,50.00%
16,AAPL190628P00148000,2019-06-17 10:03AM EDT,148.0,0.03,0.00,0.00,0.0,-,100,0,50.00%
17,AAPL190628P00149000,2019-06-19 1:04PM EDT,149.0,0.02,0.00,0.00,0.0,-,25,0,50.00%
18,AAPL190628P00150000,2019-06-25 3:50PM EDT,150.0,0.01,0.00,0.00,0.0,-,607,0,50.00%
19,AAPL190628P00152500,2019-06-27 9:34AM EDT,152.5,0.01,0.00,0.00,0.0,-,1,0,50.00%
20,AAPL190628P00155000,2019-06-21 1:54PM EDT,155.0,0.01,0.00,0.00,0.0,-,2,0,50.00%
21,AAPL190628P00157500,2019-06-24 11:34AM EDT,157.5,0.01,0.00,0.00,0.0,-,2,0,50.00%
22,AAPL190628P00160000,2019-06-26 3:27PM EDT,160.0,0.01,0.00,0.00,0.0,-,17,0,50.00%
23,AAPL190628P00162500,2019-06-26 9:32AM EDT,162.5,0.01,0.00,0.00,0.0,-,4,0,50.00%
24,AAPL190628P00165000,2019-06-27 12:09PM EDT,165.0,0.01,0.00,0.00,0.0,-,6,0,50.00%
25,AAPL190628P00167500,2019-06-26 11:32AM EDT,167.5,0.01,0.00,0.00,0.0,-,283,0,50.00%
26,AAPL190628P00170000,2019-06-27 3:47PM EDT,170.0,0.01,0.00,0.00,0.0,-,50,0,50.00%
27,AAPL190628P00172500,2019-06-26 11:55AM EDT,172.5,0.01,0.00,0.00,0.0,-,467,0,50.00%
28,AAPL190628P00175000,2019-06-27 10:06AM EDT,175.0,0.01,0.00,0.00,0.0,-,15,0,50.00%
29,AAPL190628P00177500,2019-06-27 3:53PM EDT,177.5,0.01,0.00,0.00,0.0,-,120,0,50.00%
30,AAPL190628P00180000,2019-06-27 3:57PM EDT,180.0,0.01,0.00,0.00,0.0,-,822,0,50.00%
31,AAPL190628P00182500,2019-06-27 2:52PM EDT,182.5,0.01,0.00,0.00,0.0,-,482,0,50.00%
32,AAPL190628P00185000,2019-06-27 3:55PM EDT,185.0,0.01,0.00,0.00,0.0,-,739,0,25.00%
33,AAPL190628P00187500,2019-06-27 3:59PM EDT,187.5,0.02,0.00,0.00,0.0,-,"1,273",0,25.00%
34,AAPL190628P00190000,2019-06-27 3:57PM EDT,190.0,0.04,0.00,0.00,0.0,-,"2,912",0,25.00%
35,AAPL190628P00192500,2019-06-27 3:58PM EDT,192.5,0.06,0.00,0.00,0.0,-,"4,063",0,12.50%
36,AAPL190628P00195000,2019-06-27 3:59PM EDT,195.0,0.15,0.00,0.00,0.0,-,"10,391",0,12.50%
37,AAPL190628P00197500,2019-06-27 3:59PM EDT,197.5,0.46,0.00,0.00,0.0,-,"12,723",0,6.25%
38,AAPL190628P00200000,2019-06-27 3:59PM EDT,200.0,1.30,0.00,0.00,0.0,-,"22,038",0,0.00%
39,AAPL190628P00202500,2019-06-27 3:59PM EDT,202.5,2.98,0.00,0.00,0.0,-,"5,452",0,0.00%
40,AAPL190628P00205000,2019-06-27 3:59PM EDT,205.0,5.26,0.00,0.00,0.0,-,"1,788",0,0.00%
41,AAPL190628P00207500,2019-06-27 10:37AM EDT,207.5,7.85,0.00,0.00,0.0,-,68,0,0.00%
42,AAPL190628P00210000,2019-06-27 2:45PM EDT,210.0,10.05,0.00,0.00,0.0,-,189,0,0.00%
43,AAPL190628P00212500,2019-06-27 3:09PM EDT,212.5,12.58,0.00,0.00,0.0,-,100,0,0.00%
44,AAPL190628P00215000,2019-06-26 9:38AM EDT,215.0,15.05,0.00,0.00,0.0,-,5,0,0.00%
45,AAPL190628P00217500,2019-06-20 9:31AM EDT,217.5,17.19,0.00,0.00,0.0,-,1,0,0.00%
46,AAPL190628P00220000,2019-06-14 9:48AM EDT,220.0,28.75,0.00,0.00,0.0,-,2,0,0.00%
47,AAPL190628P00222500,2019-06-21 9:35AM EDT,222.5,23.75,0.00,0.00,0.0,-,10,0,0.00%
48,AAPL190628P00225000,2019-06-21 9:35AM EDT,225.0,26.23,0.00,0.00,0.0,-,10,0,0.00%
49,AAPL190628P00227500,2019-06-07 11:05AM EDT,227.5,39.77,0.00,0.00,0.0,-,-,0,0.00%
50,AAPL190628P00245000,2019-06-07 11:05AM EDT,245.0,57.50,0.00,0.00,0.0,-,-,-,0.00%

# 利用lxml.ibjectify解析XML

In [171]:
from lxml import objectify

In [173]:
from lxml import objectify

path = r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\mta_perf\Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [174]:
data = []
skip_fields = ['PARENT_REQ', 'INDICATOR_SEQ', "DESIRED_CHANGE", 'DECIMAL_PLACES']

In [175]:
# root.INDICATOR 返回一个用于产生各个<INDICATOR> XML元素的生成器
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [177]:
pref = DataFrame(data)
pref

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PARENT_SEQ,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,,5,2008,96.6,95
5,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.4,95,,6,2008,96.2,95
6,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96,95,,7,2008,96.2,95
7,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,,8,2008,96.2,95
8,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93.7,95,,9,2008,95.9,95
9,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.4,95,,10,2008,96,95
10,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,,11,2008,96.1,95
11,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.1,95,,12,2008,96,95
12,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,92.6,96.2,,1,2009,92.6,96.2
13,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.8,96.2,,2,2009,94.6,96.2
14,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.2,,3,2009,95.4,96.2
15,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.1,96.2,,4,2009,95.9,96.2
16,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.8,96.2,,5,2009,96.2,96.2
17,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.3,96.2,,6,2009,96.4,96.2
18,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.7,96.2,,7,2009,96.5,96.2
19,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,,8,2009,96.4,96.2
20,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.1,96.2,,9,2009,96.3,96.2
21,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,94.8,96.2,,10,2009,96.2,96.2
22,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.7,96.2,,11,2009,96.1,96.2
23,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,96.2,,12,2009,96,96.2
24,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98,96.3,,1,2010,98,96.3
25,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,93,96.3,,2,2010,95.6,96.3
26,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,96.3,,3,2010,96.1,96.3
27,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.1,96.3,,4,2010,96.6,96.3
28,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.6,96.3,,5,2010,96.8,96.3
29,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,97.4,96.3,,6,2010,96.9,96.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,94,,,7,2009,95.14,
619,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97,,,8,2009,95.38,
620,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.3,,,9,2009,95.7,
621,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.7,,,10,2009,96,
622,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.1,,,11,2009,96.21,
623,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,,,12,2009,96.5,
624,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.95,97,,1,2010,97.95,97
625,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,2,2010,98.92,97
626,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,3,2010,99.29,97
627,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,4,2010,99.47,97
628,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,5,2010,99.58,97
629,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,91.21,97,,6,2010,98.19,97
630,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,7,2010,98.46,97
631,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,8,2010,98.69,97
632,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,95.2,97,,9,2010,98.3,97
633,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.91,97,,10,2010,97.55,97
634,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,96.67,97,,11,2010,97.47,97
635,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,90.03,97,,12,2010,96.84,97
636,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,1,2011,100,97
637,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,100,97,,2,2011,100,97
638,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,97.07,97,,3,2011,98.86,97
639,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,98.18,97,,4,2011,98.76,97
640,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,79.18,97,,5,2011,90.91,97
641,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,6,2011,,97
642,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,7,2011,,97
643,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,8,2011,,97
644,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,9,2011,,97
645,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,10,2011,,97
646,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,11,2011,,97
647,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,M,Escalator Availability,%,,97,,12,2011,,97

In [180]:
from io import StringIO #Python3中已将StringIO归入io

In [181]:
tag = '<a href="http://www.google.com">Google</a>'

In [182]:
root = objectify.parse(StringIO(tag)).getroot()

In [183]:
root

In [184]:
root.get('href')

'http://www.google.com'

In [185]:
root.text

'Google'

# 二进制数据文件

In [186]:
#实现数据的二进制格式存储最简单的办法之一是使用Python内置的pickle序列化。pandas对象都有一个用于将数据以pickle形式保存到磁盘上的save方法

In [187]:
frame = pd.read_csv(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\ex1.csv')

In [188]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [191]:
frame.to_pickle(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\frame_pickle') #原来的save换成to_pickle！

# 使用HDF5格式

In [192]:
#1. c库，有多重语言接口
#2. HDF指的是层次型数据格式（hierarchical data format）
#3. 每个HDF5文件都含有一个文件系统式的节点结构，能存储多个数据集并支持元数据
#4. 支持多重压缩器的及时压缩，还能更高效地存储重复模式数据
#5. 对于非常大的无法直接放入内存的数据集，HDF5支持有效地分块读写

In [193]:
#Python中HDF5有两个接口（即PyTables和h5py）

In [194]:
store = pd.HDFStore('mydata.h5')

In [195]:
store['obj1'] = frame

In [198]:
store['obj1_col'] = frame['a']

In [199]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [200]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [201]:
#HDF5不是数据库，适合一次写多次读的数据集

# 读取Excel文件

In [202]:
#pandas的ExcelFile类支持读取存储在Excel 2003或更高版本的表格型数据，用到的包为：ExcelFile用到了xlrd和openpyxl包

In [204]:
xls_file = pd.ExcelFile(r'C:\Users\Administrator\Desktop\新一期DataAnalysis\ch06\data.xls')

In [205]:
table = xls_file.parse('Sheet1')

In [206]:
table

    name  age
0  text1   12
1  test2   23
2   deqw   13
3   qweq    3

# 使用HTML和Web API

In [213]:
import requests
url = 'http://www.baidu.com/search.json?q=python%20pandas'
resp = requests.get(url)

In [ ]:
resp

In [211]:
import json

In [212]:
data = json.loads(resp.text)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [214]:
data.keys()

AttributeError: 'list' object has no attribute 'keys'

# 使用数据库

In [215]:
import sqlite3

In [216]:
query = """
    CREATE TABLE test (a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);
"""
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [217]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
       ('Sacramento', 'California', 1.7, 5)]

In [218]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [219]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [220]:
# 可以将这个元祖列表穿个DataFrame的构造器，但是还需要列名（位于游标的description属性中）
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [224]:
frame3 = DataFrame(rows, columns =list(zip(*cursor.description))[0]) #zip外面再套一层list，即使用list包装zip对象！

In [225]:
frame3

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [226]:
import pandas.io.sql as psql

In [227]:
# sql.read_frame('select * frame test')改为
s = psql.read_sql_query('select * from test', con)

In [228]:
s

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

# 存取MongoDB中的数据

In [231]:
import pymongo